name: CI

on:
  push:
    branches: [main]

jobs:
  CI:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@3.1.0

      - name: Docker Login
        uses: docker/login-action@v3.2.0
        with: 
          username: ${{ secrets.USER }}
          password: ${{ secrets.PASSWD }}

      - name: Build and push Docker images
        uses: docker/build-push-action@1ca370b3a9802c92e886402e0dd88098a2533b12
        with: 
          context: .
          file: .
          push: true
          tags: 
            paulohenriquesantana/aula_youtube:v1
            paulohenriquesantana/aula_youtube:latest
            
